<html>
	<head>
		<title>Host</title>
	</head>
	<body>
		<form method="POST" action = "/host">
		  <input type="text" size="50" name="video" value="https://www.youtube.com/watch?v=lncrDBcHBeA"/>
		  <button>Host</button>
		</form>
	</body>
</html>